<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">

        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-secrethub-index") %>>
          <a href="/docs/providers/secrethub/index.html">SecretHub Provider</a>
        </li>

        <li<%= sidebar_current("docs-secrethub-datasource") %>>
        <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-secrethub-datasource-read") %>>
                    <a href="/docs/providers/aws/d/read.html">secrethub_read</a>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-secrethub-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-secrethub-resource-generate") %>>
              <a href="/docs/providers/secrethub/r/generate.html">secrethub_generate</a>
            </li>
            <li<%= sidebar_current("docs-secrethub-resource-write") %>>
              <a href="/docs/providers/secrethub/r/write.html">secrethub_write</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>