<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">

        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-secrethub-index") %>>
          <a href="/docs/providers/secrethub/index.html">SecretHub Provider</a>
        </li>

        <li<%= sidebar_current("docs-secrethub-datasource") %>>
        <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-secrethub-datasource-secret") %>>
                    <a href="/docs/providers/secrethub/d/secret.html">secrethub_secret</a>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-secrethub-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-secrethub-resource-secret") %>>
              <a href="/docs/providers/secrethub/r/secret.html">secrethub_secret</a>
            </li>
            <li<%= sidebar_current("docs-secrethub-resource-service") %>>
              <a href="/docs/providers/secrethub/r/service.html">secrethub_service</a>
            </li>
            <li<%= sidebar_current("docs-secrethub-resource-access-rule") %>>
              <a href="/docs/providers/secrethub/r/access_rule.html">secrethub_service</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
